[submodule "pages/neuroevolution"]
	path = pages/neuroevolution
	url = https://github.com/craigsidcarlson/neuroevolution.git
[submodule "pages/maze"]
	path = pages/maze
	url = https://github.com/craigsidcarlson/maze.git
[submodule "pages/marchingSquares"]
	path = pages/marchingSquares
	url = https://github.com/craigsidcarlson/marchingSquares.git
[submodule "pages/boid"]
	path = pages/boid
	url = https://github.com/craigsidcarlson/boid.git
